<?xml version="1.0"?>
<config>
    <modules>
        <Acierno_Coupon>
            <version>0.1.0</version>
        </Acierno_Coupon>
    </modules>
    <global>
        <models>
            <acierno_coupon>
                <class>Acierno_Coupon_Model</class>
                <resourceModel>acierno_coupon_resource</resourceModel>
            </acierno_coupon>
            <acierno_coupon_resource>
                <class>Acierno_Coupon_Model_Resource</class>
            </acierno_coupon_resource>
        </models>
        <blocks>
            <acierno_coupon>
                <class>Acierno_Coupon_Block</class>
            </acierno_coupon>
        </blocks>
        <helpers>
            <acierno_coupon>
                <class>Acierno_Coupon_Helper</class>
            </acierno_coupon>
        </helpers>
        <resources>
            <acierno_coupon_setup>
                <setup>
                    <module>Acierno_Coupon</module>
                </setup>
            </acierno_coupon_setup>
        </resources>
        <events>
            <admin_system_config_changed_section_aciernocoupon>
                <observers>
                    <acierno_coupon>
                        <type>singleton</type>
                        <class>acierno_coupon/observer</class>
                        <method>observersection</method>
                    </acierno_coupon>
                </observers>
            </admin_system_config_changed_section_aciernocoupon>
        </events>
        <template>
            <email>
                <acierno_coupon_custom_email_template translate="label">
                    <label>Custom Email</label>
                    <file>custom_email.html</file>
                    <type>html</type>
                </acierno_coupon_custom_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <acierno_coupon>
                <use>standard</use>
                <args>
                    <module>Acierno_Coupon</module>
                    <frontName>coupon</frontName>
                </args>
            </acierno_coupon>
        </routers>
        <layout>
            <updates>
                <acierno_coupon>
                    <file>acierno_coupon.xml</file>
                </acierno_coupon>
            </updates>
        </layout>
    </frontend>
    <admin> <!-- backend -->
        <routers>
            <acierno_coupon>
                <use>admin</use>
                <args>
                    <module>Acierno_Coupon</module>
                    <frontName>acierno_coupon</frontName>
                </args>
            </acierno_coupon>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <acierno_coupon>
                    <files>
                        <default>Acierno_Coupon.csv</default>
                    </files>
                </acierno_coupon>
            </modules>
        </translate>
        <layout>
            <updates>
                <acierno_coupon>
                    <file>acierno_coupon.xml</file>
                </acierno_coupon>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <acierno_coupon>
            <configuration>
                <enabled>0</enabled>
            </configuration>
        </acierno_coupon>
    </default>
</config>